<div class="widget">
  <form name="login-form" id="login-form" method="post" action="/users/login">
    <h3>Login</h3>
    <div class="form-group">
      <input type="email" id="email" name="email" placeholder="email" required />
    </div>
    <div class="form-group">
      <input type="password" id="password" name="password" placeholder="password" required />
    </div>
    <div class="form-submit">
      <input type="submit" value="Log in" />
    </div>
      {{#if error}}
      <div class=".error">{{error}}</div>
      {{/if}}
        <!--<div id="remember">-->
            <!--<ul class="unstyled">-->
                <!--<li class="control-inline">-->
                    <!--<input class="styled-checkbox" id="rememberMe" type="checkbox" value="rememberMe"><label for="rememberMe">Remember me</label>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
      <!--<div class="form-create">-->
        <!--or <a href="/users/create">Create an account</a>-->
      <!--</div>-->
    <!--</div>-->
      <div class="form-create">or <a href="/users/create">register</a> </div>
  </form>
</div>