<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{#if title}}{{title}}{{/if}} | CloudLab</title>
    <meta name="description" content="" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <link href="/stylesheets/waveform.css" rel="stylesheet">
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower/ngDialog/css/ngDialog-theme-default.min.css" rel="stylesheet" />
    <script type='text/javascript' src='/bower/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='/bower/bootstrap/dist/js/bootstrap.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
    <script src="/bower/angular/angular.min.js"></script>
    <script src="/bower/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower/angular-messages/angular-messages.min.js"></script>
    <script src="/bower/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/bower/ngDialog/js/ngDialog.min.js"></script>
    <script src="/bower/moment/min/moment.min.js"></script>
    <!--<script src="/bower/eventEmmiter/EventEmitter.min.js"></script>-->
    <link href="/bower/ngDialog/css/ngDialog.min.css" rel="stylesheet" />




    <script src="/js/app/app.js"></script>
    <script src="/js/app/services/sessionService.js"></script>
    <script src="/js/app/services/authService.js"></script>
    <script src="/js/app/services/userService.js"></script>
    <script src="/js/app/services/editorService.js"></script>
    <script src="/js/app/controllers/register.js"></script>
    <script src="/js/app/controllers/home.js"></script>
    <script src="/js/app/controllers/user.js"></script>
    <script src="/js/app/controllers/login.js"></script>
    <script src="/js/app/controllers/editor.js"></script>
    <script src="/js/app/components/login.js"></script>
    <script src="/js/app/components/register.js"></script>
    <script src="/js/app/components/home.js"></script>
    <script src="/js/app/components/people.js"></script>
    <script src="/js/app/components/trends.js"></script>
    <script src="/js/app/directives/checkAvailabilityUsername.js"></script>
    <script src="/js/app/directives/checkAvailabilityEmail.js"></script>
    <script src="/js/app/directives/player.js"></script>

</head>
<body ng-app="app">
<div class="container">
    <nav style="margin-top: 3px;">
        <a class="btn btn-default" ui-sref="home" ui-sref-active="active" role="button">Home</a>
        <a class="btn btn-default" ui-sref="trends" ui-sref-active="active" role="button">Trends</a>
        <a class="btn btn-default" ui-sref="editor" ui-sref-active="active" role="button">Editor</a>
        <div ng-controller="User"  ng-switch="loggedIn" class="pull-right">
            <div ng-switch-when="false">You are not logged in! Please <a ui-sref="login" ui-sref-active="active">log in</a></div>
            <div ng-switch-when="true">Hello <span ng-bind="data.firstName"></span> <span ng-bind="data.lastName"></span> You can <a href ng-click="logout()"> log out</a> here</div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <img class="center-block"src="/images/cloud-lab-1-header.jpg" style="margin-top: 3px"/>
        </div>

    </div>

    <div style="margin-top: 15px" class="container">
        <ui-view></ui-view>
    </div>
</div>
</body>
</html>