.player-info {
    font-size: 14.316px;
    font-family: "Raleway", sans-serif;
    color: rgb(123, 123, 123);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    /*display: inline;*/
}

.player-headline{
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(123, 123, 123);
    text-align: left;
}

.player-projectpic{
    width: 182px;
    height: 182px;
}

.stats{
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.004);
}

.button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -19px;
}
.likeButton{
    width: 36px;
    height: 36px;
    position: absolute;
    bottom: 3px;
    left: 100%;
    margin-left: -42px;
}


.info{
    position: absolute;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.004);
}
.views{
    top:3px;
    left: 20px;
    text-align: left;
}
.likes{
    top:3px;
    left:140px;
    text-align:right;
}