<div class="col-md-4" style="border: 1px solid #c2c2c2; border-radius: 5px; background-color: #333333; color:white">
    <img ng-hide="userData.profilePicture" style="margin-top: 25px" class="center-block" src="/images/avatar.png" alt="..." class="img-rounded">
    <img ng-show="userData.profilePicture" style="margin-top: 25px" class="center-block" src="{{userData.profilePicture}}" alt="..." class="img-rounded">
    <h3 class="text-center">{{userData.firstName}} {{userData.lastName}}</h3>
    <legend style="color: white">Bio</legend>
    <p ng-show="userData.bio">userData.bio</p>
    <p ng-hide="userData.bio">No biography</p>
    <legend style="color: white">Friends</legend>
    <p ng-hide="userData.friends">You have no friends :(</p>
</div>
<div class="col-md-8">
    <div ng-show="projects.length == 0" class="alert alert-info">You do not have no projects :( Create some!</div>
    <div  class="col-md-12">
        <!-- <div ng-hide="userData.authorizedProjects.length == 0" class="alert alert-info">You are not authorized on any projects</div> -->
        <player ng-repeat="project in projects" project-data="project"></player>

</div>
