<div class="container">
    <form name="loginForm" ng-submit="submit()" class="col-md-offset-3 col-md-5" novalidate>
        <div class="alert alert-danger" ng-show="error">{{error}}</div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" ng-model="form.email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="form.password" class="form-control" id="password" placeholder="Password">
            <p class="help-block">If you are not registered, please click <a ui-sref="register">here</a></p>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div> 