<div class="col-md-12">
    <p class="player-headline">
        <b>Unknown Artist</b> uploaded <b>Untitled Project</b> 8 minutes ago
    </p>
    <div>
        <div class="col-md-4">
            <img class="player-projectpic" style="" src="/images/project_pic.png">
            <img ng-click="play()" ng-mouseover="mouseover()" ng-mouseleave="mouseleave()" class="button" ng-src="{{playPauseButton}}" />
            <button ng-click="edit()">Edit</button>
            <p class="info views">{{views}} views</p>
            <p class="info likes">{{likes}} likes</p>
            <img class="likeButton" ng-click="like()" ng-mouseover="likeHover()" ng-mouseleave="likeUnhover()" ng-src="{{likeButton}}">
        </div>
        <div class="col-md-8">
            <p class="player-info">Untitled project<br/>Project ID</p>
            <div property="test" class="playercontainer"></div>

        </div>

    </div>
</div>
