<div class="container">
    <form name="registerForm" class="col-md-offset-3 col-md-8"   ng-submit="submit()">
        <div class="alert alert-danger  " ng-show="error">{{error}}</div>
        <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error': registerForm.userName.$touched && registerForm.userName.$invalid}">
                <label for="username">Username</label>
                <input name="userName" ng-required="true" type="text" class="form-control" id="username" ng-model="form.userName" required check-availability-username>
                <div ng-messages="registerForm.userName.$error">
                    <p ng-message="required">Username is required</p>
                    <p ng-message="checkAvailabilityUsername">Username is not available</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName">First name</label>
                <input name="firstName" type="text" class="form-control" id="firstName" ng-model="form.firstName" ng-model-options="{ getterSetter: true }" required>
                <div ng-messages="registerForm.firstName.$error">
                    <p ng-message="required">First name is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input name="lastName" type="text" class="form-control" id="lastName" ng-model="form.lastName" ng-model-options="{ getterSetter: true }" required>
                <div ng-messages="registerForm.lastName.$error">
                    <p ng-message="required">Last name is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="date">Date of birth</label>
                <input name="date" type="date" class="form-control" id="date" ng-model="form.date" ng-model-options="{ getterSetter: true }" required>
                <div ng-messages="registerForm.date.$error">
                    <p ng-message="required">Date of birth is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" type="email" class="form-control" id="email" ng-model="form.email" required checkAvailabilityEmail>
                <div ng-messages="registerForm.email.$error">
                    <p ng-message="required">Email is required</p>
                    <p ng-message="invalid">Email is not valid format</p>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="password" ng-model="form.password" required ng-model-options="{ getterSetter: true }" ng-minlength="5">
                <div ng-messages="registerForm.password.$error">
                    <p ng-message="required">Password is required</p>
                    <p ng-message="minlength">Password should have minimum 5 letters</p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-default">Create my account</button>
        </div>
    </form>
</div>
